section.contact {
  min-height: 100vh;
  height: 100%;

  .list-group {
    justify-content: center;

    .list-group-item {
      font-size: 1.75rem;
      background-color: transparent;
      border-color: transparent;
    }
  }
  @media (min-width: 960px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;

    .list-group {
      justify-content: left;
    }
  }
}
