@import "~bootstrap/dist/css/bootstrap.min.css";
//@import "../../node_modules/typeface-montserrat/index.css";

@import "../styles/index.scss";
@import "../styles/about.scss";
@import "../styles/contact.scss";
@import "../styles/blog.scss";
@import "../styles/blogpost.scss";
@import "../styles/404.scss";

body {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-weight: 450;
  background-color: var(--primary);
  color: var(--base);

  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  //transition: color 0.3s ease-in;

  -webkit-tap-highlight-color: transparent;

  // Links
  --link-primary: #f40088;
  --link-secondary: #fd18fe;
  --link-tertiary: #a34c6e;
  // --link-muted: #e0115f;
  --link-muted: #ac607d;

  --text-on-link: #ffffff;

  ::selection {
    color: var(--text-on-link);
    background-color: var(--link-tertiary);
  }
  h1 {
    font-weight: 800;
    color: var(--base);
  }

  h2 {
    font-weight: bolder;
    color: var(--base);
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--base);
  }

  h4 {
    font-size: 1rem;
    color: var(--contrast);
    opacity: 0.8;
  }

  p {
    font-size: 1rem;
    color: var(--contrast);
  }

  a {
    color: var(--link-primary);
    transition: opacity 0.4s ease-in-out;

    &:hover {
      color: var(--link-primary);
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

body.light {
  --primary: #ffffff;
  --secondary: #f7fafc;
  // --tertiary: #e4e3e1;
  --tertiary: #e2e8f0;
  --complement: #f8e6ff;
  --extra: #ededed;

  --base: #000000;
  --contrast: #171717;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  // Backgrounds
  --primary: #000000;
  --secondary: #111111;
  --tertiary: #1b1c1e;
  --complement: #20002c;
  --extra: #202229;

  // Text
  --base: #ffffff;
  --contrast: #f3f3f3;
}

nav {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  .navbar-brand {
    color: var(--base);
    transition: color 0.2s ease-in;

    &:hover {
      color: var(--link-primary);
    }
    font-weight: bolder;
    font-size: 2rem;
  }

  .navbar-toggler {
    color: var(--base);
  }

  // Links
  .navbar-nav {
    > li {
      > a {
        color: var(--link-primary);
        background: linear-gradient(
          to bottom,
          var(--link-primary) 0%,
          var(--link-primary) 100%
        );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 0px 4px;
        color: var(--base);
        text-decoration: none;
        transition: background-size 0.2s;
      }

      a:hover {
        background-size: 4px 12px;
        opacity: 1;
      }

      label {
        margin-bottom: 0;
      }

      .theme-toggler {
        font-size: 1.25rem;
        input {
          display: none;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-nav {
      flex-direction: row;
      background: var(--tertiary);
      border-radius: 3rem;
      padding: 10px 20px;
    }
  }
}

nav.navbar {
  padding: 1rem 1rem;
}

footer {
  background-color: var(--secondary);
  bottom: 0;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  ul {
    padding-inline-start: 1px;
  }

  .link {
    background: var(--tertiary);
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--base);
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }
}
